

 *{
	padding:0;
	margin:40;
}

html {
	font-family: Corbel, Verdana, "Bitstream Vera Sans", sans-serif; 
}

h1.tea {
	color:#9A02FF;
	font-size:36pt;
	text-align: center;
	text-transform: uppercase;
}

a {
	text-decoration:none;
	color:#616161;
	font-size: 22pt;
}

a:hover, a.active {
	color: #9A02FF;	
}

ul li {
	display:inline-block;
	padding:50px;
}

#menu-alignment {
	text-align: center;
}

#green-LED {
	width:100%;
	height:auto;
}

#me {
	width:200px;
	height:auto;
	border-radius:100px;
}

#dt1 {
	margin-left: auto;
	margin-right: auto;
	width:60%;
	height:auto;

}

#dt2 {
	width:60%;
	height:auto;
}

#dt3 {
	width:60%;
	height:auto;
}

#brain {
	width:40%;
	height:auto;
}

#eyeball {
	width:40%;
	height:auto;
}